.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    display: flex;
}

.logo {
    /* background-color: rgb(193, 116, 22); */
    /* padding: 10px 10px; */
    border-radius: 5px;
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    cursor: pointer;
    /* font-weight: normal; */
}

.logo:hover {
    color: red;
    font-size: 30px;
}