h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 1rem 0;
}